page-investment-profile {

    .main{
        text-align: center;
        align-content: center;
        background-color:#efefef;
        display: flex;
        color: #af0b1c;
    }

    .center {
        margin: auto;
        width: 100%;
        padding: 15px;
    }

}
