<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title><br>CIBC<br>Mobile Banking</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <div style = "color : #3DBCC0; width:100%; height : 100%">

   <ion-list> 
    <ion-item>
     <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of accounts" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-start></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
   </ion-item> 
   <ion-item>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-start></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    </ion-item>  
  </ion-list>

  </div>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>